<!DOCTYPE html>
<html lang="ja-JP">
 <head>
 <meta charset="utf-8">
 <title>demo ECサイト</title>
 <meta name="robots" content="noindex">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
 <script th:src="@{/js/slick/slick.min.js}"></script>
 <link rel="stylesheet" th:href="@{/css/slick.css}">
 <link rel="stylesheet" th:href="@{/css/slick-theme.css}">
 <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
 <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
 <link rel="icon" href="img/favicon.ico">
 <script src="sample.js"></script>
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@700&family=Noto+Sans+JP:wght@400;900&family=Noto+Serif+JP:wght@600;700&display=swap" rel="stylesheet">

 </head>
 
 <body>
 <!----- ヘッダー ----->
 <div th:replace="common::header1"></div>
 <!----- ヘッダー END ----->
 
 <!----- メインコンテンツ ----->
 <main class="main">
    <div class="main_photo_box">
        <ul class="slick01">
            <li><img alt="画像1" th:src="@{images/mainimage01.png}" /></li>
            <li><img alt="画像2" th:src="@{images/mainimage01.png}" /></li>
            <li><img alt="画像3" th:src="@{images/mainimage01.png}" /></li>
          </ul>
    </div>
    <div class="main2">
        <section class="main2_text_box">
            <h2 class="main2_text">New Arrival</h2>
            <div class="main2_sub_text_box">
                <div class="main2_sub_text_left">+255</div>
                <div class="main2_sub_text_right">items</div>
            </div>
            <div class="main2_sub_text">
                <p>リクエストの多かった化粧品を取り扱い始めました。</br>
                この秋注目のマッド系商品はマストアイテム。是非チェックしてみてください。</p>
            </div>
            <div class="main2_button">
                <a th:href="@{itemindex}">
                    <button>more</button>
                </a>
            </div>
        </section>
        <div class="main2_photo_box">
            <div class="main2_photo_1">
                <img th:src="@{images/photo01.png}">
                <div class="main2_photo_2">
                    <img th:src="@{images/photo02.png}">
                </div>
            </div>
        </div>
    </div>
    <div class="main3">
        <div class="main3_content">
            <div class="main3_photo_box">
                <div class="main3_container">
                    <img th:src="@{images/photo03.png}" class="sample-img">
                </div> 
                <div>
                    <p class="main3_text_color">
                        <span>
                            Time limit Sale
                        </span>
                    </p>
                    <p class="main3_text">
                        <span>
                            Time limit Sale
                        </span>
                    </p>
                    <div class="main3_sub_text_box">
                        <div class="main3_sub_text_left">
                            10/12 20:00
                        </div>
                        <div class="main3_sub_text_right">
                            Start
                        </div>
                    </div>
                </div>
            </div>
            <div class="main3_sub_text_under_box">
                <div class="main3_sub_text_under">
                    <p>年に1度の期間限定セール実施！<br>
                    最大90%OFFのビッグセール！！</p>
                </div>
                <div class="main3_button">
                    <a th:href="@{item_index}">
                        <button>more</button>
                    </a>
                </div>
            </div>
    </div>
    </div>
    <section>
    <h2 class="main4">
        Pick Up Item
    </h2>
    </section>
    <div class="main5">
        <div class="main5_box">
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main5_box">
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
 <!----- メインコンテンツ END ----->

 <!----- フッター ----->
 <div th:replace="common::footer1"></div>
 <!----- フッター END ----->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script th:src="@{js/slick.min.js}"></script>
 <script th:src="@{js/main.js}"></script>
 </body>
</html>