<!DOCTYPE html>
<html lang="ja-JP">
 <head>
 <meta charset="utf-8">
 <title>demo ECサイト</title>
 <meta name="robots" content="noindex">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
 <script th:src="@{/js/slick/slick.min.js}"></script>
 <link rel="stylesheet" th:href="@{/css/slick.css}">
 <link rel="stylesheet" th:href="@{/css/slick-theme.css}">
 <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
 <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
 <link rel="icon" href="img/favicon.ico">
 <script src="sample.js"></script>
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@700&family=Noto+Sans+JP:wght@400;900&family=Noto+Serif+JP:wght@600;700&display=swap" rel="stylesheet">
 </head>

 <body>
 <!----- ヘッダー ----->
 <div th:replace="/common::header1"></div>
  <!----- ヘッダー END ----->
 <main class="index_main">
    <div class="main_title">
        <section>
            <h2>
                Item List
            </h2>
        </section>
    </div>
    <div class="main_contet">
        <ui class="cotent_category">
            <li >
                <a href="#" id="black">#ALLITEM</a>
            </li>
            <li>
                <a href="#">#リング</a>
            </li>
            <li>
                <a href="#">ブレスレット</a>
            </li>
            <li>
                <a href="#">#ピアス</a>
            </li>
            <li>
                <a href="#">#イヤリング</a>
            </li>
        </ui>
    </div>
    <div class="main5">
        
        <div class="main5_box">
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main5_box">
            <div class="item_box">
                <div class="item_photo">
                    <a th:href="@{show}">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main5_box">
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
            <div class="item_box">
                <div class="item_photo">
                    <a href="show.html">
                        <img th:src="@{images/item.png}">
                    </a>
                </div>
                <div>
                    <a href="#" class="yellow">
                    なんとかリング</a>
                </div>
                <div class="item_text">
                    <div>
                        <a href="#" class="black">1500,</a>
                    </div>
                    <div>
                        <a href="#" class="black">yen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="Pagination">
        <li class="Pagination-Item">
            <a class="Pagination-Item-Link" href="/pages/1/">
                <svg xmlns="http://www.w3.org/2000/svg" class="Pagination-Item-Link-Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                </svg>
            </a>
        </li>
        <li class="Pagination-Item">
            <a class="Pagination-Item-Link isActive" href="#"><span>1</span></a>
        </li>
        <li class="Pagination-Item">
            <a class="Pagination-Item-Link" href="#"><span>2</span></a>
        </li>
        <li class="Pagination-Item">
            <a class="Pagination-Item-Link" href="#"><span>3</span></a>
        </li>
        <li class="Pagination-Item">
            <a class="Pagination-Item-Link" href="#"><span>4</span></a>
        </li>
        <li class="Pagination-Item">
            <a class="Pagination-Item-Link" href="#"><span>5</span></a>
        </li>
        <li class="Pagination-Item">
            <a class="Pagination-Item-Link" href="/pages/5/">
                <svg xmlns="http://www.w3.org/2000/svg" class="Pagination-Item-Link-Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                </svg>
            </a>
        </li>
    </ul>
 </main>
 <!----- フッター ----->
 <div th:replace="/common::footer1"></div>
 <!----- フッター END ----->
 </body>
 </html>
